#title{
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    text-align: center;
    background-color: #283149;
}
h1{
    font-size: 5rem;
    color: #dbdef3;
    font-family: "Arvo",cursive;
    text-shadow: 3px 0 #da0463;
}
footer{
    color: #dbdef3;
    font-family: sans-serif;
}
.w{
    background-image: url("./images/tom1.png");
}
.a{
    background-image: url("./images/tom2.png");
}
.s{
    background-image: url("./images/tom3.png");
}
.d{
    background-image: url("./images/tom4.png");
}
.j{
    background-image: url("./images/snare.png");
}
.k{
    background-image: url("./images/crash.png");
}
.l{
    background-image: url("./images/kick.png");
}
.set{
    margin: 10% auto;
}
.drum{
    width: 150px;
    height: 150px;
    font-size: 5rem;
    font-family: "Arvo",cursive;
    line-height: 2;
    font-weight: 900;
    color: #da0463;
    border-radius: 15px;
    text-shadow: 3px 0 #da0463;
    text-align: center;
    margin: 10px;
    background-color: #dbdef3;
}
.pressed {
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;
}